* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(127, 255, 212, 0.148);

}

h2 {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background-color: rgba(0, 0, 0, 0.274);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    padding: 50px 30px 90px 30px;
    background-color: rgba(159, 42, 227, 0.747);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

.board h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    max-height: 100px;
    max-width: 100px;
    font-size: 50px;
    cursor: pointer;
    background-color: burlywood;
    border: 4px solid rgb(128, 122, 122);
    outline: 2px solid black;

}

.result {
    background-color: white;
    border-top: 4px solid rgb(46, 45, 45);
    height: 60px;
    width: min-content;
    padding: 0px 20px;
    /* left: 30px;
    top: 5px; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: monospace;
    font-size: 25px;
}
.reset{
    margin-top: 10px;
    cursor: pointer;
}
